<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css" />
    <script> var exports = {}; </script>
    <script defer src="/js/delete.js"></script>
    <script defer src="/js/promptForDelete.js"></script>

    <title>Admin</title>
</head>

<body>

    <header>
        <div class="header-item">
            <a class="blacked" href="/admin/adminusers">Powrót</a>
        </div>
        <div class="header-item log-out">
            <a class="blacked log-out" href="/admin/logout">Wyloguj się</a>
        </div>
        <!-- <div class="header-item">
            <a class="blacked" href="/admin/adminzamowienie">User's Orders</a>
        </div> -->
    </header>
    <main>
        <div class="main">
            <div class="inline-block">
                <table id="tabelka">
                    <caption>Zamówienia:</caption>
                    <thead>
                        <tr>
                            <th>numer identyfikacyjny</th>
                            <th>data zamowienia</th>
                            <th>status</th>
                            <th>cena ogolna</th>
                            <th>waga ogolna</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        <% confirmedOrders.forEach(function(p){ %>
                        <tr>
                            <td><%= p.id %></td>
                            <td><%= p.created_at %></td>
                            <td>
                                <%if (p.status == 'confirmed') { %>
                                <p style="color: green;"><%= p.status %></p>
                                <% } else { %>
                                <p style="color: red;"><%= p.status %></p>
                                <% }%>
                            </td>
                            <td><%= p.cost %></td>
                            <td><%= p.wage %></td>
                            <form action="/admin/adminseeorderedproducts/<%= p.id %>" method="GET" target="_blank">
                                <td><button class="float-right" type="submit">Zobacz zamówione produkty</button></td>
                            </form>
                            <form action="/admin/admindeleteorder/<%= userId %>/<%= p.id %>" method="POST">
                                <td><button class="float-right" onclick="return promptForDelete()" type="submit">Usuń zamówienie</button></td>
                            </form>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>

    </footer>

</body>

</html>